{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Главная</title>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
БАННЕР - ГЛАВНАЯ СТРАНИЦЫ
<br><br><br><br>
<button class="btn btn-info" style="background-color: white">Нажми Мудила</button>
{% block content %}
{% endblock %}
<br><br><br><br><br>
<h1>FOOTER</h1>
</body>
<script src="{% static "js/index.js" %}"></script>
{% block extrascript %}
{% endblock %}
</html>