{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="row text-center">
    {% for product in products %}
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center" style="margin: 0; padding: 0">
            <div class="image_wrapper text-center" style="width: 356px; margin-bottom: 60px">
            <a class="category_link" href="{% url 'product' product.id %}">
                {% thumbnail product.image "350x250" upscale=True padding=True as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                {% endthumbnail %}
                <hr class="separate_name_line">
                <div class="category_name_block">
                    <p class="category_name">{{ product.name }}</p>
                </div>
            </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            <div class="clearfix"></div>
        {% endif %}
    {% empty %}
        <h2>Пока тут ничего нет.</h2>
    {% endfor %}
    </div>
{% endblock %}