{% extends 'base.html' %}
{% load thumbnail %}

{% block active_products %}active_nav{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-color: white; padding: 20px 0">
        <div class="products_content" style="background-color: white">
        <div class="col-lg-3 col-md-3 col-xs-12">
              <h1 style="color: #DF0101; font-size: 20px; font-weight: bold; letter-spacing: 2px">КАТАЛОГ</h1>
              <div class="panel-group" id="accordion">
                  {% for category in categories %}
                      <div class="panel">
                              <a class="accordion_link {% if category == current_category %}active_category_tab{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ category.id }}">
                                      <span style="color: #DF0101">&bull;</span> {{ category.name }}
                              </a>
                          <div id="collapse_{{ category.id }}" class="panel-collapse collapse {% if category == current_category %}in{% endif %}">
                          <div class="panel-body">
                              <ul class="nav nav-pills nav-stacked">
                                  {% for product in category.products.all %}
                                      <li><a class="product_tab {% if product == current_product %}active_category_tab{% endif %}" href="{% url 'product' product.id %}">&bull; {{ product.name }}</a></li>
                                  {% endfor %}
                              </ul>
                          </div>
                          </div>
                      </div>
                  {% endfor %}
              </div>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12" style="border-left: 2px solid #DF0101;">
            <h1 style="color: #DF0101; margin-bottom: 0" class="text-left">{{ current_product.name }}</h1>
            {% thumbnail current_product.image "330x330" upscale=True padding=True as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ current_product.name }}">
            {% endthumbnail %}
            <div>
            {{ current_product.description|safe }}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
