body {
  background-color: #cecece;
  width: 900px;
  margin: 0 auto;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: black;
}

.head {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.head__logo {
  display: inline-block;
  height: 50px;
  width: calc(100%/4);
  background-color: grey;
  float: left;
}

.head__callback {
  display: inline-block;
  height: 50px;
  float: right;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.head__callback :hover{
  background-color: grey;
  color: white;
  border: 1px solid grey;
}

.callback__text {
  border: 1px solid #ee1d23;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
  padding: 7px 10px 8px 10px;
  vertical-align: middle;
}

.menu {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  background-color: white;
  width: 100%;
  border-radius: 5px;
}

.menu_pading {
  padding: 10px 10px 11px 10px;
}

.menu__info, .menu__items, .menu__contacts {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: calc(100% / 3);
  min-width: 250px;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

.menu__items {
  border-left: 2px solid #bababa;
  border-right: 2px solid #bababa;
}

.content {
  text-align: center;
  background-color: white;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
}

.footer {
  width: 900px;
  color: white;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;

}

.footer__contacts {
  display: inline-block;
  float: left;
  min-width: 230px;
}

.contacts__info {
  margin-bottom: 10px;
}

.marginBottom {
  margin-bottom: 20px;
}

.contacts__text {
  font-size: 15px;
  max-width: 300px;
}

.footer__message {
  display: inline-block;
  float: right;
  min-width: 230px;
  text-align: center;
}

.message__text {
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 7px 10px 8px 10px;
  vertical-align: middle;
  margin-bottom: 40px;
}

.message__rights {
  font-size: 12px;
  white-space: pre-line;
  text-align: right;
}

.products{
  margin: 0 auto;
}

.products__item{
  display: inline-block;
  width: calc(100%/3);
  margin-bottom: 20px;
  vertical-align: text-top;
}